#usercardwhole{
  height: 355px;
  width: 335px;
  overflow: hidden;
  margin-bottom: 8px;
}

#usercardwhole .user-card {
    width: 315px;
    height: 350px;
    overflow-y: auto;
    
    /* display: flex; */
    align-items: center;
    margin: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    background-color:  #272727;
    ;
  }
  
  #usercardwhole #upperpart{
  display: flex;
  padding: 20px 15px 15px 15px;
}

#usercardwhole #imgi {
    height: 135px;
    width: 135px;
    overflow: hidden; /* To ensure the image doesn't exceed the container */
    border-radius: 50%; 
  }
  
  #usercardwhole  #imgi img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Preserve aspect ratio and cover the entire container */
  }
  
  #usercardwhole #user-details {
    margin-left: 10px;
  }
  
  #usercardwhole  .user-buttons{
    margin-left: 40px;
  }
  #usercardwhole .user-buttons button {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    
    /* Add any additional styling for your buttons here */
  }

  #usercardwhole .button{
    background-color: #111111;
  }

  #usercardwhole #downpart{
    margin-top: 10px;
    margin-left: 20px;
  }

  #usercardwhole .nameu{
  margin-top: 10px;
}

#usercardwhole .username{
  margin-top: 10px;
}

#usercardwhole .useremail{
  margin-top: 10px;
  font-size:smaller;
  
}

  