#profilelayer{
    position: absolute;
    z-index: -4;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #181818;
}
#profilelayer1{
    height: 70vh;
    width: 100vw;
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
#profilelayer2{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    background-color: #0d0d0da8;
}
#profileellips1{
    height: 50vw;
    width: 50vw;
    position: absolute;
    z-index: -1;
    background-color: #000000;
    border-radius: 50%;
    right: -10vw;
    bottom: -10vh;
}
#profilepage1{
    flex: auto;
    display: flex;
    padding: 30px 50px;
    padding-top: 0px;
    gap: 30px;
    height: calc(100vh - 104.8px);
}


#profileleft{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 25%;
    min-width: 300px;
}

#profileleft>h1{
    font-weight: 300;
    font-size: 40px;
    padding: 0;
    margin: 0;
}
#profileleft #self-in{
    background-color: #272727;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
    justify-content: space-evenly;
    overflow-y: scroll;
}
#profileleft #self-in::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#profileleft #self-in {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

#profileleft #self-in #profile-picture{
    height: 200px;
    width:200px;
    border-radius: 50%;

}
#profileleft #self-in #self2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#profileleft #self-in #self2>h2{
    font-weight: 300;
    font-size: 28px;
}
#profileleft #self-in #self2>h3{
    font-weight: 200;
    font-size: 14px;
    color: #BCBCBC;
}


#profileleft #self-in #self3{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#profileleft #self-in #self3>svg>path:hover{
    fill: #FFFFFF;
    cursor: pointer;
}

#profileleft #self-in #self4{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

#profileleft #self-in #self4 .tags{
    font-size: 16px;
    font-weight: 300;
    border: 1px solid;
    
    border-radius: 4px;
    padding: 8px 12px;
}
#profileleft #self-in #self4 .tags:hover {
    
    transition: 0.7s;
}

#profileleft #self-in #self5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#profileleft #self-in #self5 #pencil{
    height: 20px;
}

#profileleft #self-in #self5 #Edit{
    background-color: #111111;
    border: none;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;

}
#profileleft #self-in #self5 #Edit>span{
    color: #BCBCBC;
    font-weight: 300;
    font-size: 20px;
}

#profileleft #self-in #self5>h3{
    font-weight: 300;
    font-size: 16px;
}





#profileright{
    flex: auto;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
#profileright #buttons>button{
    font-weight: 300;
    font-size: 16px;

    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
#profileright #buttons{
    height: 50px;
    padding-top: 10px;
}

#profileright #buttons .now-selected{
    color: black;
    background-color: #fff;
    font-weight: 300;
    font-size: 16px;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#profileright #buttons .not-selected{
    color: #BCBCBC;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #BCBCBC !important;
    font-weight: 300;
    font-size: 16px;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#profileright #buttons .not-selected:hover{
    color: #fff;
    border: 1px solid #fff !important;
}

#projects{
    flex: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 40px;
    /* justify-content: space-between; */
    
}




#upload{
    height: calc((100% - 20px)/2);
    width: calc((100% - 40px)/3);
    background-color: #272727;




}
.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333; /* Adjust loader color here */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  




.project{
    /* height: calc((100% - 20px)/2); */
    width: calc((100% - 120px)/3);
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 8px;
    overflow: visible;
    
}

.www{
    position: absolute;
    width: 100%;
    height: calc(100% - 44px);
    top: 0;
    object-fit: cover;
}
.project>p{
    position: relative;
    font-weight: 400;
    font-size: 16px;
    padding: 12px 16px;
    background-color: #272727;


}
#contri{
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
}

#contri>img{

    height: 30px;
    border: 1px solid black;
    margin-left: -15px;
    border-radius: 50%;
    transform: translateX(15px);
}


#like-div{
    z-index: 1;
    position: absolute;
    background-color: #636363;
    right: 10px;
    padding: 4px 8px;
    border-radius: 4px;
    top: 10px;
}

#like-div>span{
    font-weight: 300;
    font-size: 16px;
}





#upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Adjust the gap as needed */

}
#upload .bi-plus-circle:hover {
    color: #787272; /* Change the color to your desired hover effect */
}


#circle{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50%;

}

#upload>div>p{
    border: 1px solid #BCBCBC;
    font-weight: 300;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 4px;
}





#upload>div:hover>p{
    border-color: #fff;
    color: #fff !important;
}
#upload>div:hover>#circle{
    border-color: #fff !important;
}
#upload>div:hover>#circle>svg>g>g>g{
    fill: #fff;
}

.no-message {
    font-size: 1.5rem;
    margin-top: 150px;
    margin-left: 350px;
  }
  