
#chatlayer0{
    top:0;
    background-color: #181818;
    height: auto;
    bottom: 0;
    width: 100vw;
    position: absolute;
    overflow: hidden;
    z-index: -101;
}


#chatlayer1{
    top: 0px;
    position: absolute;
    width: 100%;
    height: 65%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    z-index: -100;
    
}

#chatlayer2{
    height: 60%;
    width: 40%;
    border-radius: 50%;
    position: absolute;
    z-index: -99;
    bottom: 0px;
    right: 0px;
    background-color: #000000;
    filter: blur(254.5px);
}

#chatpage1{
    flex: auto;
    overflow: hidden;
    display: flex;
}
#chatsmain{
    height: calc(100vh - 104.8px);

}

#left{
    width: 30%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
    height: calc(100vh - 104.8px);
}
#left>p{
    font-weight: 300;
    font-size: 46px;
}
#typeButton button{
    margin-right: 10px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 4px;
    padding: 7px 15px;
} 
#personal{
    border: none;
    background-color: #FFFFFF;
    color: #151515;
}
#global{
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #BCBCBC;
    color: #BCBCBC;
    cursor: pointer;
}

#global:hover{
    color: #fff;
}


#search2{
    cursor: text;
    background-color: #272727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

#search2 input{
    background-color: #272727;
    color: #BCBCBC;
    font-weight: 200;
    font-size: 16px;
    border: none;
    flex: auto;
    padding: 5px 10px;
    margin-right: 10px;
}

#persons{

    overflow: scroll;

}


#persons::-webkit-scrollbar {
    display: none;
  }
  
#persons {
    -ms-overflow-style: none;
    scrollbar-width: none;  
}


.person{
    cursor: pointer;
    position: relative;
    background-color: #272727;
    height: 55px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
    font-weight: 200;
    font-size: 20px;
}

.person:hover{
    background-color: #3B3B3B;
}

.profilePic{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 50%;
}
#person-3{
    background-color: #3B3B3B;
}

#right{
    flex: auto;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(100vh - 104.8px);
}

#chatinf{
    background-color: #3B3B3B;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    gap: 20px;
    font-weight: 300;
    font-size: 17px;
}
.Name{
    font-weight: 400;
}
.line{
    width: 1px;
    background-color: white;
    height: 17px;
}
#last-seen{
    font-weight: 100;
}



  




#typingBox{
    background-color: #3B3B3B;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
}
#typingBox textarea {
    background-color: #3B3B3B;
    border: none; /* Removes the border */
    outline: none;
    width: 100%; /* Adjust width as needed */
    max-height: 40px; /* Maximum height before scrolling */
    overflow-y: auto; /* Enables vertical scrolling */
    resize: none;
    margin-right: 10px; /* Disables the user's ability to resize the textarea */

    
  }



#attach{
    display: flex;
    gap: 20px;
}

#attach>svg:hover>path{
    fill: #fff;
    cursor: pointer;
}


#chats{

    overflow: scroll;

} 
#chats {
    -ms-overflow-style: none;
    scrollbar-width: none;  
}
#chats::-webkit-scrollbar {
    display: none;
}


#chats inf{
    padding: 10px 10px;
    padding-bottom: 0;
    align-items: center;
    display: flex;
    gap: 20px;
    background-color: #272727;
}

#chats inf2 div{
    font-weight: 200;
    font-size: 16px;

}
#chats inf3{
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: 300;

}

.date,.time{
    padding: 4px 0;
    color: #BCBCBC;
    font-weight: 200;
    font-size: 15px;
}



.chat p:nth-child(1){
    padding-top: 10px;
}

.chat p{
    padding: 20px 20px;
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 20px;
    background-color: #272727;
}

.day{
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 35px;
    margin-top: 15px;
    font-weight: 200;

}

#chats>.day:nth-child(1){
    margin-top: -5px;
}



#person-1::after{
    content: "";
    background-color: #72B5E6;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
}
#person-3::after{
    content: "";
    background-color: #72B5E6;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
}
#person-9::after{
    content: "";
    background-color: #72B5E6;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
}