@font-face {
    font-family: "Lenxend";
    src: url(./font/Lexend-VariableFont_wght.ttf);
}

*{
    box-sizing: border-box;
    color: white;
    box-sizing: border-box;
    padding : 0;
    margin : 0;
    font-family: "Lenxend";
}


#main{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#layer{
    position: absolute;
    z-index: -4;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #181818;
}
#layer1{
    height: 70vh;
    width: 100vw;
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

}
#layer2{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    background-color: #0d0d0da8;
}
#ellips1{
    height: 50vw;
    width: 50vw;
    position: absolute;
    z-index: -1;
    background-color: #000000;
    border-radius: 50%;
    right: -10vw;
    bottom: -10vh;
}


nav{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}
#search{
    border-bottom: 1px solid #FFFFFF;
    width: 30vw;
    border-radius: 8px;
    padding: 12px 20px;
    height: 44px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) -19.8%, rgba(255, 255, 255, 0.256) 350.64%);
    color: #BCBCBC;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#search input{
    width: 100%;
    margin-right: 30px;
    padding: 0px 10px;
    font-size: 16px;
    background-color: #00000000;
    border: none;
    color: white;

}
input:focus {
    outline: none;
  }
  #nav-part2 a{
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    padding: 10px;
}
#nav-part2 a:nth-child(3){
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) -19.8%, rgba(255, 255, 255, 0.256) 350.64%);
    border-bottom: 1px solid #fff;
    border-radius: 8px;
}



#page1{
    flex: auto;
    display: flex;
    padding: 30px 50px;
    padding-top: 0px;
    gap: 10px;
}

#left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 25%;
    min-width: 300px;
}

#left>h1{
    font-weight: 300;
    font-size: 40px;
    padding: 0;
    margin: 0;
}
#self-in{
    background-color: #272727;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
    justify-content: space-evenly;
}

#profile-picture{
    height: 100px;
    border-radius: 50%;

}
#self2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#self2>h2{
    font-weight: 300;
    font-size: 28px;
}
#self2>h3{
    font-weight: 200;
    font-size: 14px;
    color: #BCBCBC;
}


#self3{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


#self4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.tags{
    font-size: 16px;
    font-weight: 300;
    border: 1px solid;
    border-radius: 4px;
    padding: 8px 12px;
}
#self5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#pencil{
    height: 20px;
}

#Edit{
    background-color: #111111;
    border: none;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;

}
#Edit>span{
    color: #BCBCBC;
    font-weight: 300;
    font-size: 20px;
}

#self5>h3{
    font-weight: 300;
    font-size: 16px;
}





#right{
    flex: auto;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
#buttons>button{
    font-weight: 300;
    font-size: 16px;

    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
#buttons{
    height: 50px;
    padding-top: 10px;
}

#now-selected{
    color: black;
    background-color: #fff;
    font-weight: 300;
    font-size: 16px;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#not-selected{
    color: #BCBCBC;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #BCBCBC !important;
    font-weight: 300;
    font-size: 16px;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.not-selected:hover{
    color: #fff;
    border: 1px solid #fff !important;
}

#projects{
    flex: auto;
    position: relative;
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    gap: 20px;
    /* background-color: red; */
}




#upload{
    height: calc((100% - 20px)/2);
    width: calc((100% - 40px)/3);
    background-color: #272727;




}
.project{
    position: relative;
    height: calc((100% - 20px)/2);
    width: calc((100% - 40px)/3);
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 8px;
    overflow: hidden;
}

.www{
    position: absolute;
    width: 100%;
    height: calc(100% - 44px);
    top: 0;
    object-fit: cover;
}
.project>p{
    position: relative;
    font-weight: 400;
    font-size: 16px;
    padding: 12px 16px;
    background-color: #272727;


}
#contri{
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
}

#contri>img{

    height: 30px;
    border: 1px solid black;
    margin-left: -15px;
    border-radius: 50%;
    transform: translateX(15px);
}


#like-div{
    z-index: 1;
    position: absolute;
    background-color: #636363;
    right: 10px;
    padding: 4px 8px;
    border-radius: 4px;
    top: 10px;
}

#like-div>span{
    font-weight: 300;
    font-size: 16px;
}





#upload{
    display: flex;
    align-items: center;
    justify-content: center;
}

#upload>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


#circle{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50%;

}

#upload>div>p{
    border: 1px solid #BCBCBC;
    font-weight: 300;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 4px;
}
@font-face {
    font-family: "Lenxend";
    src: url(./font/Lexend-VariableFont_wght.ttf);
}

*{
    box-sizing: border-box;
    color: white;
    box-sizing: border-box;
    padding : 0;
    margin : 0;
    font-family: "Lenxend";
}


#main{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#layer{
    position: absolute;
    z-index: -4;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #181818;
}
#layer1{
    height: 70vh;
    width: 100vw;
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

}
#layer2{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    background-color: #0d0d0da8;
}
#ellips1{
    height: 50vw;
    width: 50vw;
    position: absolute;
    z-index: -1;
    background-color: #000000;
    border-radius: 50%;
    right: -10vw;
    bottom: -10vh;
}


nav{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}
#search{
    border-bottom: 1px solid #FFFFFF;
    width: 30vw;
    border-radius: 8px;
    padding: 12px 20px;
    height: 44px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) -19.8%, rgba(255, 255, 255, 0.256) 350.64%);
    color: #BCBCBC;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#search input{
    width: 100%;
    margin-right: 30px;
    padding: 0px 10px;
    font-size: 16px;
    background-color: #00000000;
    border: none;
    color: white;

}
input:focus {
    outline: none;
  }
  #nav-part2 a{
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    padding: 10px;
}
#nav-part2 a:nth-child(3){
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) -19.8%, rgba(255, 255, 255, 0.256) 350.64%);
    border-bottom: 1px solid #fff;
    border-radius: 8px;
}



#page1{
    flex: auto;
    display: flex;
    padding: 30px 50px;
    padding-top: 0px;
    gap: 10px;
}

#left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 25%;
    min-width: 300px;
}

#left>h1{
    font-weight: 300;
    font-size: 40px;
    padding: 0;
    margin: 0;
}
#self-in{
    background-color: #272727;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
    justify-content: space-evenly;
}

#profile-picture{
    height: 100px;
    border-radius: 50%;

}
#self2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#self2>h2{
    font-weight: 300;
    font-size: 28px;
}
#self2>h3{
    font-weight: 200;
    font-size: 14px;
    color: #BCBCBC;
}


#self3{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


#self3>svg>path:hover{
    fill: #FFFFFF;
    cursor: pointer;
}





#self4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.tags{
    font-size: 16px;
    font-weight: 300;
    border: 1px solid;
    border-radius: 4px;
    padding: 8px 12px;
}
#self5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#pencil{
    height: 20px;
}

#Edit{
    background-color: #111111;
    border: none;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
    color: #BCBCBC;
}
#Edit>span{
    font-weight: 300;
    font-size: 20px;
}

#Edit:hover{
    color: #fff;
}

#self5>h3{
    color: #BCBCBC;
    font-weight: 300;
    font-size: 16px;
}
#self5>h3:hover{
    color: #fff;
    cursor: pointer;
}




#right{
    flex: auto;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
#buttons>button{
    font-weight: 300;
    font-size: 16px;

    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
#buttons{
    height: 50px;
    padding-top: 10px;
}
#project{
    color: black;
    background-color: #fff;
}
#course{
    color: #BCBCBC;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #BCBCBC !important;
}
#course:hover{
    color: #fff;
    border: 1px solid #fff !important;
}

#projects{
    flex: auto;
    position: relative;
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    gap: 20px;
}




#upload{
    height: calc((100% - 20px)/2);
    width: calc((100% - 40px)/3);
    background-color: #272727;




}
.project{
    position: relative;
    height: calc((100% - 20px)/2);
    width: calc((100% - 40px)/3);
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 8px;
    overflow: hidden;
}

.www{
    position: absolute;
    width: 100%;
    height: calc(100% - 44px);
    top: 0;
    object-fit: cover;
}
.project>p{
    position: relative;
    font-weight: 400;
    font-size: 16px;
    padding: 12px 16px;
    background-color: #272727;


}
#contri{
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
}

#contri>img{

    height: 30px;
    border: 1px solid black;
    margin-left: -15px;
    border-radius: 50%;
    transform: translateX(15px);
}


#like-div{
    z-index: 1;
    position: absolute;
    background-color: #636363;
    right: 10px;
    padding: 4px 8px;
    border-radius: 4px;
    top: 10px;
}

#like-div>span{
    font-weight: 300;
    font-size: 16px;
}





#upload{
    display: flex;
    align-items: center;
    justify-content: center;
}

#upload>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


#circle{
    border: 1px solid #BCBCBC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50%;

}

#upload>div>p{
    border: 1px solid #BCBCBC;
    font-weight: 300;
    color: #BCBCBC;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 4px;
}

#upload>div{
    cursor: pointer;
}


#upload>div:hover>p{
    border-color: #fff;
    color: #fff !important;
}
#upload>div:hover>#circle{
    border-color: #fff !important;
}
#upload>div:hover>#circle>svg>g>g>g{
    fill: #fff;
}
