/* Base color variables for easy theme management */
:root {
  --background-dark: #121212;
  --background-light: #2a2a2a;
  --text-color: #ccc;
  --text-highlight: #fff;
  --hover-background: #f3c611;
  --icon-color-hover: #0a66c2;
}
.team-section h2 {
  color: white; /* Sets the default text color */
  background-color: black; /* Sets the background color */
}

.team-section  h2::first-letter {
  color: #FF6347; /* Tomato color for the first letter */
  font-size: 150%; /* Makes the first letter larger */
}
.team-section h2 {
  color: white; /* Sets the default text color */
  background-color: black; /* Sets the background color */
}

.team-section  h3::first-letter {
  color: #f7d205ec; /* Tomato color for the first letter */
  font-size: 150%; /* Makes the first letter larger */
}

/* Basic styles for team section */
.team-section {
  padding: 20px;
  text-align: center;
  background: var(--background-dark);
  color: var(--text-highlight);
}

/* Grid layout for team members */
.team-section  .team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

/* Styles specific to each team member */
.team-section  .team-member {
  position: relative;
  overflow: hidden;
  border-radius: 40%;  /* Adjusted for an oval shape */
  width: 200px;
  height: 220px;  /* Increased height for a slightly elongated shape */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(145deg, #1e1e1e, var(--background-light));
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.profileCard .team-member {
  position: relative;
  overflow: hidden;
  border-radius: 40%;  /* Adjusted for an oval shape */
  width: 160px;
  height: 180px;  /* Increased height for a slightly elongated shape */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(145deg, #1e1e1e, var(--background-light));
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.profileCard .team-member img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  object-fit: cover;
  border-radius: 40%;  /* Matched to the border-radius of the container for consistency */
  position: absolute;
}



/* Hover effects for team members */
.team-section .team-member:hover {
  transform: scale(1.1);
  border-color: var(--hover-background);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

/* Member images */
.team-section .team-member img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  object-fit: cover;
  border-radius: 40%;  /* Matched to the border-radius of the container for consistency */
  position: absolute;
}

.team-section .team-member:hover img {
  opacity: 0;
}

/* Text visibility toggling */
.team-member h3, .team-member p, .team-member .description {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.team-member:hover h3, .team-member:hover p, .team-member:hover .description {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0s, opacity 0.3s linear;
}

/* Description styles */
.team-member .description {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10px;  /* Adjusted position to better fit the text */
  font-size: 14px;  /* Slightly larger font to accommodate more text */
  padding: 5px 10px; /* Added padding for better text fit without cutting off */
  color: var(--text-color);
  background: rgba(78, 77, 77, 0.5); /* Optional: added background to enhance readability */
  border-radius: 5px; /* Rounded corners for the description background */
}

/* LinkedIn icon specific styles */
.team-section .linkedin-icon, .linkedin-icon svg {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: fill 0.2s ease-in-out;
}

.team-section .team-member:hover .linkedin-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
}
.team-section a svg{
  pointer-events: none;
}
.team-section a.linkedin-icon:hover svg {
  fill: var(--icon-color-hover);
}
