body{
    background-color: #181818;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

@font-face {
    font-family: "Lexend";
    src: url(../../assets/font/Lexend-VariableFont_wght.ttf);
}

#wholepage{
    overflow-y: auto;
    max-height: 100vh;
}

*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    font-family: "Lexend";
    color: #fff;
}

#logo{
    width: 120px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

#search{
    border-bottom: 1px solid #FFFFFF;
    width: 30vw;
    border-radius: 8px;
    padding: 12px 20px;
    height: 44px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) -19.8%, rgba(255, 255, 255, 0.256) 350.64%);
    color: #BCBCBC;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#personal{
    border: none;
    background-color: #FFFFFF;
    color: #151515;
}
#global{
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #BCBCBC;
    color: #BCBCBC;
    cursor: pointer;
}

#global:hover{
    color: #fff;
}

#typeButton button{
    margin-right: 10px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 4px;
    padding: 7px 15px;
} 

#search{
    border-bottom: 1px solid #FFFFFF;
    width: 30vw;
    border-radius: 8px;
    padding: 12px 20px;
    height: 44px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) -19.8%, rgba(255, 255, 255, 0.256) 350.64%);
    color: #BCBCBC;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input:focus {
        outline: none;
      }

#search input{
    width: 100%;
    margin-right: 30px;
    padding: 0px 10px;
    font-size: 16px;
    background-color: #00000000;
    border: none;
    color: white;
}

#nav-part2 a{
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    padding: 10px;
}
#nav-part2 a:nth-child(1){
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) -19.8%, rgba(255, 255, 255, 0.256) 350.64%);
    border-bottom: 1px solid #fff;
    border-radius: 8px;
}

#typeButton{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-list{
    display: flex;
    flex-wrap: wrap;
}