
  
  
  #details-main{
    /* display: none; */
    scale: 1;
    opacity: 1;
    background-color: #0000005d;
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    overflow: scroll;
    
  }
  #details-main::-webkit-scrollbar {
    display: none;
  }
  
  #details-main {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  #details{
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    background-color: #272727;
    border-radius: 10px;
    width: 80%;
    overflow: hidden;
  }
  #banner{
    width: 100%;
    height: 500px;
    position: relative;
  }
  
  #banner-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  #layer{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(73.02deg, #000000 -13.78%, rgba(0, 0, 0, 0.7) 60.46%, rgba(0, 0, 0, 0) 176.58%);
  }
  #banner>svg{
    position: absolute;
    z-index: 2;
    right: 30px;
    top: 30px;
    cursor: pointer;
    fill: #BCBCBC;
  }
  #banner>svg:hover{
    fill: #fff;
  }
  


  #inf1{
    z-index: 3;
    position: absolute;
    left: 60px;
    bottom: 30px;
    height: 195px;
    width: 800px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #inf h1{
    font-family: "Impact";
    text-transform: uppercase;
    font-weight: 400;
  
  }
  #inf2{
    padding: 0px;
    display: flex;
    gap: 20px;
    height: 40px;
  }
  #inf2>div{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #line{
    width: 2px;
    height: 100%;
    background-color: white;
  }
  
  #deltails-page1{
    padding: 40px 60px;
  }
  
  
  #contactor{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .profile-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  #profile {
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
    display: flex;
    align-items: center;
    padding: 2px; /* Ensure there's space around elements */
  }

  #profile:hover {
    background-color: #3e3e3e; /* Light grey background on hover */
  }

  #profile-picture {
    margin-right: 40px; /* Separation from the text */
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Circular image */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds shadow to image to lift it off the background */
  }

  .profile-details {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 1.2rem;
  }
  
  #profile span{
    font-family: "Lenxend";
    font-weight: 300;
    font-size: 16px;
  }
  
  #linker{
    display: flex;
    gap: 20px;
  }
  
  
  #linker button{
    cursor: pointer;
    background-color: #0d0d0d;
    color: #BCBCBC;
    border: none;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: "Lenxend";
    font-weight: 300;
    font-size: 15px;
  
  }
  
  #linker button:hover{
    background-color: #060606;
    color: #FFFFFF;
  }
  
  #display-img{
    padding: 40px 0;
  }
  
  
  
  
  #details-main .swiper-slide{
    position: relative;
    margin: 20px 0px;
    overflow: hidden;
    height: 200px !important;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #details-main .swiperImg{
     position: relative;
     height: 100%;
     width:100%;
     object-fit: cover;
     margin-right: 10px;
  
  }
  
  
  
  #description h1{
    font-weight: 500;
    font-size: 24px;
    margin: 30px 0;
  }
  #description-part2 {
    color: #BCBCBC;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: justify;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-left: 0px;
    word-wrap: break-word; /* Add this line */
}

  #tags{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 5px;
  }
  
  .tags{
    text-decoration: none;
    border: 1px solid white;
    border-radius: 4px;
    padding: 8px 17px;
    font-weight: 400;
    font-size: 16px;
  }
  
  #UX{
    border-color: #C9FF93;
    color: #C9FF93;
  }
  #Java{
    border-color: #4EB0E7;
    color: #4EB0E7;
  }
  #AI{
    border-color: #FF93C1;
    color: #FF93C1;
  }
  #UX:hover{
    background-color: #C9FF93;
    color: #272727;
  }
  #Java:hover{
    background-color: #4EB0E7;
    color: #272727;
  }
  #AI:hover{
    background-color: #FF93C1;
    color: #272727;
  }
  
  
  
  
  #feedbacks-ratting{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

  }
  #feedbacks-ratting h1{
    font-weight: 500;
    font-size: 24px;
    padding: 20px 0;
  }
  
  .feedback-pic {
    margin: 10px 20px;
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s, opacity 0.3s; /* Add transition for smooth hover effect */
    
    
    /* border: 2px solid transparent;  */
  }
  
  .feedback-pic:hover {
    transform: scale(1.5); /* Scale up the image on hover */
    opacity: 0.8; /* Decrease opacity on hover */ 
    border-color:brown;
  }
  .like{
    transition: transform 0.3s;
  }
  .like:hover {
    transform: scale(1.3);
    opacity: 0.8;
  }
  
   .swiper-slide:hover  {
    transform: scale(1.1);
     opacity: 0.9; 
    transition: transform 0.3s;
    z-index: 1000;
  } 

  
  
  
  
  #ratting{
    display: flex;
    background-color: #1B1B1B;
    align-items: center;
    margin-bottom: 15px;
    
  }
  #addFeedbackButton{
    flex: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
  }
  
  .profile-id{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    padding: 12px 20px;
    transition: all 1s;
  }
  
  .profile-name{
    font-weight: 300;
    font-size: 16px;
    color: white;
  }
  
  form{
    display: flex;
    align-items: center;
  }
  
  .stars {
    cursor: pointer;
    padding-right: 5px;
  }
  
  .star{
    height: 13px;
  }
  
  #date{
    text-transform: uppercase;
    align-items: center;
    background-color: #1B1B1B;
    border: none;
    font-size: 12px;
    font-family: "Lenxend";
    font-weight: 300;
    padding: 0px 12px;
    border-left: 2px solid white;
  }
  
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  
  
  
  #submiting{
    display: none;
    transition: all 1s ease-out;
  }
  
  #FeedBackDownButton{
    transition: all 0.25s ease-out;
    
  }
  #addFeedbackButton>div{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  #addFeedbackButton>div:hover>span{
    color: #FFFFFF;
  }
  #addFeedbackButton>div:hover>svg>path{
    fill: #fff;
  }
  
  
  #addFeedbackButton>div>span{
    padding-right: 15px;
    font-weight: 400;
    color: #BCBCBC;
    font-size: 16px;
  }
  
  #text{
    display: none;
  }
  #text button{
    cursor: pointer;
    background-color: #1B1B1B;
    border: none;
    color: #757575;
    width: 100px;
    font-weight: 300;
  
  }
  #text button:hover{
    color: white;
  }
  
  #feedBackText{
    flex: auto;
    background-color: #1B1B1B;
    border: none;
    padding: 10px 20px;
    font-weight: 300;
    font-size: 15px;
  }
  
  inf{
    display: flex;
    padding-top: 10px;
  }
  
  #feedbacks{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  #feedbacks> div{
    background-color:#1B1B1B;
  }
  #feedbacks> div>p{
    text-align: justify;
    padding: 15px 20px;
    padding-top: 5px;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
  
  }

  .clickable-icon {
    font-size: 40px;
    cursor: pointer;
    transition: color 0.2s ease-in-out; 
  }
  
  .clickable-icon:hover {
    color:#007bff; 
  }
  .clickable-area:hover .clickable-icon,
  .clickable-area:hover div {
  color: #007bff; 
  }

  /* styles.css */
.project-link {
  color: inherit; /* Inherits the color from the parent element */
  text-decoration: none; /* No underline by default */
  transition: text-decoration 0.3s ease; /* Smooth transition for hover effect */
}

.project-link:hover {
  text-decoration: underline;
  color:blue /* Adds an underline on hover */
}

h1#projectName {
  font-size: 3rem;
  margin-bottom: 0;
  transform: translateY(30px);
  text-transform: uppercase;
}
h1#modalText {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #d4cbcb;
  transform: translateY(10px);

}








  
  
  
  /* ----------------for popup card----------------------------------------*/
  
  
  