.swiperImg{
    position: absolute;
    height: 200px;
    width:100px;
    object-fit: cover;

}

.swiper-button-next{
    color: rgb(255, 255, 255);
    
}
.swiper-button-prev{
    color: rgb(255, 255, 255);
}

.swiper-button-next{
    background-color: #272727;
    border: 1px solid #BCBCBC;
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    color: #BCBCBC !important;
    scale: 0.7;
    justify-content: center;
    align-items: center;
}
.swiper-button-prev{
    scale: 0.7;
    background-color: #272727;
    border: 1px solid #BCBCBC;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #BCBCBC !important;
    justify-content: center;
    align-items: center;
}
.swiper-button-next:hover{
    color: #fff !important;
    border-color: #fff;
}
.swiper-button-prev:hover{
    border-color: #fff;
    color: #fff !important;
}