


.tags1{
    text-decoration: none;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 300;
    font-size: 14px;
    
}
#tags1{
    /* border: 2px solid red; */
    width: 80% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#wait{
    width: -webkit-fit-content !important;
    display: flex !important;
    gap: 5px !important;
    align-items: center !important;
    justify-content: flex-end !important;
}
#wait>div{
    display: flex !important;
    gap: 5px !important;
    align-items: flex-start !important;
    justify-content: flex-end !important;
    height: 20px;
}


#wait img{
    padding-top: 3px;
    width: 16px;
    height: auto;

}
.swiper-slide1{
    overflow: hidden;
    height: fit-content;
    display: flex;
    flex-direction: column;
    overflow: visible;
    scale: 0.8;
}
.sw-img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative !important;
    width: 100%;
    height: 100px !important;
    object-fit: cover;
    z-index: 1;
}  
.sw-details{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;
    position: relative;
    background-color: #272727;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sw-details-1{
    text-align: left;

}
.sw-details-1>h3{
    font-weight: 400;
    font-size: 20px;
}
.sw-details-1>p{
    color: #BCBCBC;
    font-weight: 200;
    font-size: 16px;
    padding-top: 7px;
}


.sw-details-2{
    display: flex;
    justify-content: space-between;
}



.swiper-button-next{
    background-color: #272727;
    border: 1px solid #BCBCBC;
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    color: #BCBCBC !important;
    scale: 0.7;
    justify-content: center;
    align-items: center;
}
.swiper-button-prev{
    scale: 0.7;
    background-color: #272727;
    border: 1px solid #BCBCBC;
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    color: #BCBCBC !important;
    justify-content: center;
    align-items: center;
}
.swiper-button-next:hover{
    color: #fff !important;
    border-color: #fff;
}
.swiper-button-prev:hover{
    border-color: #fff;
    color: #fff !important;
}

.project-heading{
    font-weight: 400;
    font-size: 40px;
    padding-left: 45px;
    margin-bottom: -20px;
}

#sp-profile{
    position: absolute;
    top: 55px;
    right: 11px;
    /* top: 10px;
    left: 10px; */
    z-index: 7 !important;
    
    height: 45px;
    border-radius: 50%;
    z-index: 2;
}



.icon-hover-effect {
    font-size: 1.7rem;
    color: #c8bebe; /* Initial color */
    transition: color 0.2s; /* Smooth transition for the color */
  }
  
  .icon-hover-effect:hover {
    color: white; /* Dark color on hover */
  }
  
  

