@font-face {
    font-family: "Lenxend";
    src: url(../../font/Lexend-VariableFont_wght.ttf);
}



*{
    box-sizing: border-box;
    color: white;
    box-sizing: border-box;
    padding : 0;
    margin : 0;
    font-family: "Lenxend";
}

#page1{
    position: relative;
    height: 85vh;
}

#page1-contain{
    position: absolute;
    width: 900px;
    right: 140px;
    top: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#page1-contain>img{
    width: 60%;
    margin-left: 0%;
}

#page1-contain>p{
    text-align: end;
    font-weight: 100;
    font-size: 15px;
}

#page1-designe{
    position: absolute;
    width: 350px;
}